.DS_Store
.idea
.vscode
*.log
tmp/

.cache
compile_commands.json
build
log/falcon.*
stats.out

cloud_native/docker_build/cn/metadb
cloud_native/docker_build/cn/falcon_cm
cloud_native/docker_build/dn/metadb
cloud_native/docker_build/dn/falcon_cm
cloud_native/docker_build/store/falconfs
cloud_native/falcon_cm/cm/__pycache__
cloud_native/falcon_cm/postgres/__pycache__
cloud_native/falcon_cm/tool/__pycache__
cloud_native/falcon_cm/utils/__pycache__
tests/regress/falconfs
tests/falcon_cm/__pycache__
