name: Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build_and_test:
    runs-on: self-hosted
    container:
      image: ubuntu:24.04
      options: --privileged
 
    steps:
    - name: Install git on container
      run: |
        apt update
        apt install -y git

    - name: Checkout with custom script
      run: |
        git config --global --add safe.directory /__w/falconfs/falconfs
        rm -rf third_party/concurrentqueue || true
        git rm --cached third_party/concurrentqueue || true
        if [ -f .gitmodules ] && [ -s .gitmodules ]; then
          git submodule sync
          git submodule update --init --recursive --depth=1
        fi

    - name: Add non-root user
      run: |
        apt update
        apt install -y sudo
        useradd -u 1001 -m -s /bin/bash falcon
        echo "falcon ALL=(ALL) NOPASSWD:ALL" >> /etc/sudoers
        chown -R falcon $GITHUB_WORKSPACE

    - name: Check library installed
      run: |
        apt update
        apt install -y libboost-all-dev
        ls /usr/include/boost/lockfree/queue.hpp 2>/dev/null || echo "Boost header not found"

    - name: Install dependencies
      run: .github/workflows/install_dependencies.sh

    - name: Build
      shell: bash
      run: sudo -u falcon env LD_LIBRARY_PATH=/usr/local/obs/lib:$LD_LIBRARY_PATH bash -c './build.sh build pg && sudo ./build.sh install pg && ./build.sh build falcon && sudo ./build.sh install falcon'

    - name: Deploy and run tests
      shell: bash
      run: sudo -u falcon env LD_LIBRARY_PATH=/usr/local/obs/lib:$LD_LIBRARY_PATH bash -c '.github/workflows/run_test.sh'
